<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="yelm.io.raccoon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_raccoon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_raccoon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="yelm.io.raccoon.item.ItemFromNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.order.user_order.OrderByIDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.main.news.NewsFromNotificationActivity"
            android:parentActivityName="yelm.io.raccoon.main.controller.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.basket.controller.BasketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.item.ItemsOfOneCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.item.ItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.main.news.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.order.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="yelm.io.raccoon.by_category.ProductsByCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.user_address.controller.AddressChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.chat.controller.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.loader.controller.LoaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="yelm.io.raccoon.payment.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yelm.io.raccoon.main.controller.MainActivity"
            android:screenOrientation="portrait" /> <!-- This element is required in order to use the PaymentsClient -->
        <service
            android:name="yelm.io.raccoon.notification.FcmMessageService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notify" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/mainThemeColor" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>